@font-face {
  font-family: Cambria;
  src: url(/banner/assets/fonts/Cambria.eot);
}

* {
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-family: Cambria;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.jpt-section.section-banner {
  height: 100px;
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.jpt-section.section-carousell {
  display: flex;
  align-items: center;
  width: 140px;
  height: 110px;
  overflow: hidden;
}

.image {
  width: 140px;
  min-height: 80px;
  /* z-index: 1; */
}

video {
  max-width: 140px;
  max-height: 120px;
  margin: 0;
  margin-top: 5px;
}

.section-slides input {
  display: none;
}
.section-slides {
  display: flex;
  flex-grow: 1;
  height: 100px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.section-slide {
  transition: 2s;
}

.section-manual-navigation {
  position: absolute;
  width: 120px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 115px auto 0 auto;
}

label:not(:last-child) {
  margin-right: 10px;
}

label {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1.8s;
}

label:hover {
  background-color: white;
}

#radio1:checked ~ .section-slide-first {
  margin-left: 0;
}
#radio2:checked ~ .section-slide-first {
  margin-left: -140px;
}
#radio3:checked ~ .section-slide-first {
  margin-left: -280px;
}
#radio4:checked ~ .section-slide-first {
  margin-left: -420px;
}
#radio5:checked ~ .section-slide-first {
  margin-left: -560px;
}

.section-auto-navigation {
  position: absolute;
  display: flex;
  width: 120px;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.section-auto-navigation div {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.section-auto-navigation div:not(:last-child) {
  margin-right: 10px;
}

#radio1:checked ~ .section-auto-navigation .auto-btn1 {
  background: white;
}
#radio2:checked ~ .section-auto-navigation .auto-btn2 {
  background: white;
}
#radio3:checked ~ .section-auto-navigation .auto-btn3 {
  background: white;
}
#radio4:checked ~ .section-auto-navigation .auto-btn4 {
  background: white;
}
#radio5:checked ~ .section-auto-navigation .auto-btn5 {
  background: white;
}

.section-car {
  box-shadow: 0px 5px 15px 10px rgba(181, 182, 184, 0.63);
}

.car {
  height: 90px;
  width: 160px;
  margin-top: 10px;
}
