@font-face {
  font-family: Cambria;
  src: url(/Footer_Ad/banner/assets/fonts/Cambria.woff);
}

* {
  font-size: 14px;
  margin: 0;
  padding: 0;
  font-family: Cambria;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(247, 242, 242);
}

.jpt-section.section-banner {
  height: 100px;
  display: flex;
  flex-direction: row;
  gap: 70px;
}

.jpt-section.section-carousell {
  display: flex;
  align-items: center;
  width: 140px;
  height: 110px;
  overflow: hidden;
  margin-left: 30px;
}

.image {
  /* width: 140px;
  min-height: 80px; */
  /* z-index: 1; */
}

video {
  max-width: 140px;
  max-height: 120px;
  margin: 0;
  margin-top: 5px;
}

.section-slides input {
  display: none;
}
.section-slides {
  display: flex;
  flex-grow: 1;
  height: 100px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.section-slide {
  transition: 2s;
}

.section-manual-navigation {
  position: absolute;
  width: 120px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 115px auto 0 10px;
}

label:not(:last-child) {
  margin-right: 10px;
}

label {
  border: 2px solid rgb(78, 77, 77);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1.8s;
}

label:hover {
  background-color: black;
}

#radio1:checked ~ .section-slide-first {
  margin-left: 0;
}
#radio2:checked ~ .section-slide-first {
  margin-left: -140px;
}
#radio3:checked ~ .section-slide-first {
  margin-left: -280px;
}
#radio4:checked ~ .section-slide-first {
  margin-left: -420px;
}
#radio5:checked ~ .section-slide-first {
  margin-left: -560px;
}

.section-auto-navigation {
  position: absolute;
  display: flex;
  width: 120px;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
.section-auto-navigation div {
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
  display: none;
}

.section-auto-navigation div:not(:last-child) {
  margin-right: 10px;
}

#radio1:checked ~ .section-auto-navigation .auto-btn1 {
  background: black;
}
#radio2:checked ~ .section-auto-navigation .auto-btn2 {
  background: black;
}
#radio3:checked ~ .section-auto-navigation .auto-btn3 {
  background: black;
}
#radio4:checked ~ .section-auto-navigation .auto-btn4 {
  background: black;
}
#radio5:checked ~ .section-auto-navigation .auto-btn5 {
  background: black;
}

.section-car {
  width: 180px;
  perspective: 100px;
}

.car {
  height: 80px;
  width: 170px;
  margin-top: 12px;
  padding: 0 10px 0 20px;
  transform-style: preserve-3d;
}

.section-see-more {
  margin-top: 20px;
}

.see-more {
  width: 250px;
  border-radius: 20px;
}

.image:hover {
  width: 200px;
  height: 120px;
}

.section-slides:hover {
  width: 200px;
  height: 120px;
}
